@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rose: #F42272;
}

body {
  min-height: 100vh;
  background: #020202;
  color: #fff
}

nav {
  height: 70px;
}

a:hover, .active-link {
  transition: .2s;
  color: var(--rose);
}

.content-container {
  height: calc(100vh - 70px);
}

.hero-btn:hover {
  color: var(--rose) !important;
  border-color: var(--rose) !important;
}

.hero-image {
  background-image: url("/laptop.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.nav-link::after {
  content: '';
  height: 5px;
  width: 0px;
  background: var(--rose);
  display: block;
  transition: .2s;
}

.nav-link:hover::after {
  width: 20px;
}

.social-link > svg {
  height: 48px;
  width: 48px;
}

.social-link > svg > path {
  stroke: white;
}