@tailwind base;
@tailwind components;
@tailwind utilities;

/* TEST */

body {
  min-height: 100vh;
  background: #191e22;
}

h1 {
  color: white !important;
}

.platform {
  box-shadow: 5px 10px 25px rgba(0, 0, 0, .5);

  width: 1100px;
}

.content-block {
  background: #15181d
}


/* END TEST */
nav {
  height: 70px;
}

nav > a:hover, .active-link {
  transition: .2s;
  color: white;
}

.hero-btn:hover {
  color: white !important;
  border-color: white important;
}

.nav-link::after {
  content: '';
  height: 1px;
  width: 0px;
  background: white;
  display: block;
  transition: .2s;
}

.nav-link:hover::after {
  width: 20px;
}

.social-link > svg {
  height: 36px;
  width: 36px;
}

.social-link > svg > path {
  stroke: white;
}

